################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/KuberAPI/KuberAPI/obj
/KuberAPI/KuberAPI/bin/Debug/netcoreapp2.1
/KuberAPI/.vs
