<i class="fa fa-spinner fa-spin"></i>&nbsp;
<em>Redirecting to appropriate page...</em>

<!-- <div class="container">
    <ng-container *ngIf="me">
        Welcome {{me.emailAddress}} (<span class="user-type">{{me.userType}}</span>)
    </ng-container>
    <p></p> -->
    <!-- <ng-container>
        <form #form="ngForm" [hidden]="!me || me?.userType != UserType.Passenger">

            <app-address-autocomplete [label]="'Pick-up address'" [placeholder]="'Search for location'"
                [location]="userLocation" [showLatLng]="true" (addressChange)="pickUpAddressChanged($event)">
            </app-address-autocomplete>
            <app-address-autocomplete [label]="'Drop-off address'" [placeholder]="'Search for location'"
                [showLatLng]="true" (addressChange)="dropOffAddressChanged($event)"></app-address-autocomplete> -->
            <!-- <div class="form-group row">
                <label class="col-sm-2 col-form-label">Pick-up address</label>
                <div class="col-sm-10">
                    <input required
                           type="text"
                           placeholder="Search for Location"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="off"
                           class="form-control"
                           name="searchPickUp"
                           [(ngModel)]="pickUpaddress"
                           #searchPickUp>
                </div>
            </div>
            <div class="form-group row">
                <label class="col-sm-2 col-form-label">Drop-off address</label>
                <div class="col-sm-10">
                    <input required
                           type="text"
                           placeholder="Enter drop-off address"
                           autocorrect="off"
                           autocapitalize="off"
                           spellcheck="off"
                           class="form-control"
                           name="searchDropOff"
                           [(ngModel)]="dropOffAddress"
                           #searchDropOff>
                </div>
            </div> -->
            <!-- <div class="form-group row">
                <label for="inputPassword" class="col-sm-2 col-form-label">&nbsp;</label>
                <div class="col-sm-10">
                    <button [disabled]="form.invalid" type="submit" class="btn btn-success"
                        (click)="requestRide()">Request Ride</button>
                </div>
            </div>
        </form>

        <agm-map [latitude]='pickUpAddress.latitude' [longitude]='pickUpAddress.longitude' [zoom]="16"
            (mapClick)="addMarker($event.coords.lat, $event.coords.lng)">
            <agm-marker [latitude]='pickUpAddress.latitude' [longitude]='pickUpAddress.longitude'></agm-marker>
            <agm-marker [latitude]='pickUpAddress.latitude' [longitude]='pickUpAddress.longitude'></agm-marker>
        </agm-map>

    </ng-container>
    <ng-container *ngIf="me?.userType == UserType.Driver">
        [ map

        < near-by requested rides>

            ]<br>
            [ pick-up address ]<br>
            [ drop-off address ]<br>
            [ Accept Ride ] <br>
    </ng-container>
</div> -->